DAuth/* filter=git-crypt diff=git-crypt
Nintendo/DAuth/* filter=git-crypt diff=git-crypt
Json/Config/NintendoCdnConfig.cs filter=git-crypt diff=git-crypt
Json/Config/NintendoCdn/CachedToken.cs filter=git-crypt diff=git-crypt
Core/EdgeTokenManager.cs filter=git-crypt diff=git-crypt